$border-color: #8B4513	;

.grid {
    display: inline-flex;
    flex-direction: column;
    border: 5px solid black;
}

.row {
    display: inline-flex;
    flex-direction: row;
}

.cell {
    min-width: 75px;
    min-height: 75px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: white;
}

.row.odd {
    .cell:nth-child(odd) {
        background: $border-color;
    }
}

.row.even {
    .cell:nth-child(even) {
        background: $border-color;
    }
}